<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Define a codificação de caracteres e a configuração de viewport para responsividade -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Importa o arquivo CSS do Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <!-- Define o título da página -->
    <title>FLASK WEB</title>

    <!-- Importa o arquivo CSS do FontAwesome para ícones -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

    <!-- Importa o arquivo CSS local -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- Importa o jQuery e o Bootstrap JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
</head>

<body>

    <!-- Inclui o arquivo parcial para mensagens flash -->
    {% include "partials/msg.html" %}
    <!-- Inclui o arquivo parcial para a barra de navegação -->
    {% include "partials/nav.html" %}

    <!-- Define um bloco chamado 'content', que pode ser preenchido nos templates filhos -->
    {% block content %}

    <!-- Fim do bloco 'content' -->
    {% endblock %}
</body>

</html>
