<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Define a codificação de caracteres e a configuração de viewport para responsividade -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Define o título da página -->
    <title>FLASK WEB</title>
</head>
<body>
    <!-- Define um bloco chamado 'content', que pode ser preenchido nos templates filhos -->
    {% block content %}

    <!-- Fim do bloco 'content' -->
    {% endblock %}
</body>
</html>
