<nav class="navbar sticky-top navbar-light bg-light scrolling-navbar">
    <!-- Cria uma barra de navegação com posicionamento fixo no topo da página -->
    <div class="container-fluid">
        <!-- Define um contêiner fluido para o conteúdo da barra de navegação -->
        <div class="navbar-content">
            <!-- Conteúdo da barra de navegação -->
            <a class="nav-brand" href="/">FLASK WEB</a>
            <!-- Link para a página inicial com o texto "FLASK WEB" -->
            <div class="navbar-nav-fluid">
                <!-- Define uma área para itens de navegação -->
                <button class="btn btn-sucess btn-sm">Cadastrar Categoria <i class="fas fa-solid fa-square-plus"></i></button>
                <!-- Botão para cadastrar uma categoria com um ícone de "mais" -->
            </div>
        </div>
    </div>
</nav>
