{% extends "base.html" %}

<!-- Extende o template base "base.html" -->

{% block content %}

<!-- Inicia o bloco 'content', que substituirá o bloco correspondente no template base -->

<form action="/update/produto/{{produto.0}}" method="POST">
    <!-- Formulário com método POST e rota "/" -->
    <input type="number" name="code" value="{{produto.0}}" placeholder="CÓDIGO DO PRODUTO">
    <!-- Campo de entrada para o código do produto -->
    <input type="text" name="name" value="{{produto.1}}" placeholder="NOME DO PRODUTO">
    <!-- Campo de entrada para o nome do produto -->
    <input type="number" name="stock" value="{{produto.2}}" placeholder="DISPONIBILIDADE">
    <!-- Campo de entrada para a disponibilidade do produto -->
    <input type="number" name="value" value="{{produto.3}}" placeholder="VALOR DO PRODUTO">
    <!-- Campo de entrada para o valor do produto -->
    <input type="text" name="category" value="{{produto.4}}" placeholder="CATEGORIA DO PRODUTO">
    <!-- Campo de entrada para a categoria do produto -->

    <button type="submit">ATUALIZAR</button>
    <!-- Botão de envio do formulário -->
</form>

{% endblock %}
